:host ::ng-deep .row-red {
  background-color: rgba(254,168,168,1) !important;
}
:host ::ng-deep .row-yellow{
background-color: rgb(255, 255, 1) !important;
}

:host ::ng-deep .row-blue{
  background-color: rgb(129, 253, 253) !important;
}

